PORT=3000
NODE_ENV=development
JWT_SECRET=troque_esse_valor_em_producao
CORS_ORIGIN=http://localhost:5173,http://localhost:5174
DATABASE_PATH=./database.sqlite

ADMIN_NAME=Admin STI
ADMIN_EMAIL=admin@exemplo.com
ADMIN_PASSWORD=troque_essa_senha